<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <!-- <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p> -->
      </div>

      <div class="row gy-4">
        <div class="content col-lg-6">
          <h3>Indigeneous Tech Private Limited – IndiTech</h3>
          <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
          <ul>
            <li><i class="bi bi-check-circle-fill"></i>Indigeneous Tech Private Limited started in May 2018 by a group of experienced Industry
            veterans with its Corporate Office at Bangalore, India. Its sole aim is to Job enable
            students pursuing degrees like BE (CSE/IT), BCA, MCA, BSc (CSE), etc… during their
            academic study period itself.</li>
            <li><i class="bi bi-check-circle-fill"></i>We provide Offline/ Online Projects based Trainings, Internships, Workshops in the Niche
            Technologies like Machine Learning, Blockchain, Cloud Computing, IoT, AR/VR etc. to
            College Students. Also, we provide Zoom based online trainings to Students and
            Professionals both during week days and weekends across the world.</li>
            <li><i class="bi bi-check-circle-fill"></i>Our college clients include BMS College of Engineering, Bangalore, National College,
            Jayanagar, Bangalore, Sairam Engineering College, Chennai, SRM University, Chennai.</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <h4 class="motto">
              Motto of our company is <span class="high-light">“Training is made Simple”.</span> 
            </h4>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> We make sure that all the
                students learn, understand and excel in the selected curriculum/ Technology by way of
                our coaching methods with the core goal of “Technology is made Simple”.</li>
                <li><i class="bi bi-check-circle-fill"></i> Our Unique Value Proposal (UVP) is that to Job enable the students with our proven
                  curriculum. That, is the students are trained (end-to-end) on the Technology selected with
                  sufficient Hands-on practices, Executing Live Projects with required Project
                  Documentation and achieving the Professional Certificate in the selected Technology.</li>
                  <li class="high-light"><i class="bi bi-check-circle-fill"></i> For the benefit of remotely positioned and individually interested Students, we do provide Mini and Final year projects in the niche technologies with Hands On online support. Interested students can share your info with us and we will get back to you with details.
</li>
            </ul>
            <p>
              As these curriculums in Niche Technologies are executed during the academic period of
              the students itself, they are enabled for their Job before completion of their degree
              courses.
            </p>
            <p>
              IndiTech has started this portal for the students so as to share their wealth of knowledge
              and experience that they gained during the last 20 years.
            </p>

            <div class="position-relative mt-4">
              <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->