<!-- ======= Return Policy Section ======= -->
<section id="return-policy" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Return Policy</h2>
    </div>
    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-12">
        <p>Project artifacts are one-time purchase, meaning customers pay once to download the Project artifacts.</p>
        <p>Unless otherwise specified, Project purchase and downloads from inditechsoft.com site is not returnable after purchase. Before Purchasing the projects carefully review your projects using the provided info and your own discretion. Policies set forth by IndiTech Software Training and Solutions generally prohibit us from refunding the amount paid once project artifacts are downloaded.</p>
        <p>The instructions and videos provided along with the projects’ artifacts will give all the required info for installing and executing the project in Customer’s environment. </p>
        <p>However, <strong>IndiTech Software Training and Solutions</strong> will help the purchasers to install and execute the project through online support as required based on the support request received from the Customers.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Return Policy Section -->