<app-alert-msg></app-alert-msg>
<div class="row">
	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}categorylist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-network-wired cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{categoriesCount}}</b><br>Categories</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}projectslist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-project-diagram cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{projectsCount}}</b><br>Projects</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}blogslist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-rss cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{blogCount}}</b><br>Blogs</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded"  routerLink="{{baseRoute}}userslist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-users cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{usersCount}}</b><br>Users</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}orderslist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-shopping-cart cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{ordersCount}}</b><br>Online Orders</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}offlineorderslist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-shopping-cart cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{offlineOrdersCount}}</b><br>Offline Orders</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}approveDownloadRequestlist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-download cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{downloadApprovalCount}}</b><br>Download Requests</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}/ticket/list">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fa fa-ticket cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{supportCount}}</b><br>Support Requests</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<!-- <div class="col-xl-4">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}interestRequestlist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-tasks cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{interestRequestCount}}</b><br>Interest Request(s)</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div> -->

	

	<!-- <div class="col-xl-4">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}droppedRequestlist">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-ban cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{droppedRequestCount}}</b><br>Dropped Request(s)</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div> -->

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}reviews">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-comments cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{reviewCount}}</b><br>Feedbacks</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}contacts">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-address-book cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{contactCount}}</b><br>User Contacts</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}services">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-server cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><b>{{serviceCount}}</b><br>Service Enquiries</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}reports">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-list-ol cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><br>Reports</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xl-4">
		<div class="cus-shadow rounded" routerLink="{{baseRoute}}testimonial/list">
			<div class="container p-3">
				<table>
					<tbody>
						<td class="dot text-center"><i class="fas fa-list-ol cus-icon mt-3"></i></td>
						<td class="cus-heading"><h5><br>Testimonials</h5></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>