<main id="main">
    <!-- ======= About Us Section ======= -->
    <section>
      <div class="container">
        <div class="message animated bounceInDown">
          <div class="rivet top-left"></div>
          <div class="rivet top-right"></div>
          <div class="rivet bottom-left"></div>
          <div class="rivet bottom-right"></div>
          <div class="message-inner">
          <h1 class="message-title">Access <br />Denied</h1>
          <p class="message-subtitle">Error code 403</p>
            </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
</main>