<div class="shadow mb-5 bg-body rounded">
  <div class="text-center">
      <h3 class="my-account">Admin Controls</h3>
  </div>

  <div class="container pb-3">
    <table>
      <tbody>
        <tr>
          <td><i class="fas fa-project-diagram custom"></i></td>
          <td class="data"><a routerLink="{{adminUrl}}projectslist">Projects</a></td>
        </tr>
        <tr>
          <td><i class="fas fa-users custom"></i></td>
          <td class="data"><a routerLink="{{adminUrl}}userslist">Users</a></td>
        </tr>
        <tr>
          <td><i class="fas fa-network-wired custom"></i></td>
          <td class="data"><a routerLink="{{adminUrl}}categorylist">Categories</a></td>
        </tr>
        <!-- <tr>
          <td><i class="fas fa-comments custom"></i></td>
          <td class="data">Blogs</td>
        </tr> -->
      </tbody>
    </table>
  </div>		
</div>