<!-- ======= Cancellation Policy Section ======= -->
<section id="cancellation-policy" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Cancellation Policy</h2>
    </div>
    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-12">
      	<h4>Cancellation of an Order</h4>
        <p>Please Note: It may not be possible to cancel your order once we have enabled your project download option after confirming the receipt of your payment.</p>
        <p>If you need to cancel an order, and that order status is not still not downloaded, please call us immediately at +91 8217613476. We are open Monday through Friday, 10 AM to 5 PM, Indian Standard Time.</p>
        <p>If we are closed when you call, you can leave a message.</p>
        <p>To avoid any trouble, please make sure you are clear with everything before purchasing the Project (before clicking <strong>Buy Now</strong> button)</p>
      </div>
    </div>
  </div>
</section>

<!-- End Cancellation Policy Section -->
