<div class="shadow cus-table mb-3 ">
	<div class="form-heading"><h4>Your Account Password</h4></div>
	<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
		<div class="mb-3 row">
			<div class="col-sm-12">
				<label for="password" class="form-label">Enter your current Password</label>
				<input type="password" formControlName="old_password" [ngClass]="f['old_password'].invalid && (f['old_password'].dirty || f['old_password'].touched || submitted.status) || err ? 'is-invalid' : {'is-valid': f['old_password'].valid}" class="form-control" id="inputPasswordold">
				<div class="invalid-feedback">
					<div *ngIf="f['old_password'].errors?.['required']">
						Current password is required!
					</div>
					<div *ngIf="err">
						{{err}}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 mb-4">
				<label for="password" class="form-label">New Password</label>
				<input type="password" formControlName="password"  class="form-control" [ngClass]="f['password'].invalid && (f['password'].dirty || f['password'].touched || submitted.status) ? 'is-invalid' : {'is-valid': f['password'].valid}" id="password" required>
				<div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched || submitted.status)" class="invalid-feedback">
					<div *ngIf="f['password'].errors?.['required']">
						New password is required!
					</div>
					<div *ngIf="f['password'].errors?.['minlength']">
						Invalid password! Password must be 6 characters above!
					</div>
					<div *ngIf="f['password'].errors?.['maxlength']">
						Invalid password! Password must be 20 characters below!
					</div>
				</div>
			</div>

			<div class="col-md-6 mb-4">
				<label for="confirm_password" class="form-label">Confirm Password</label>
				<input type="password" formControlName="confirm_password"  class="form-control" [ngClass]="f['confirm_password'].invalid && (f['confirm_password'].dirty || f['confirm_password'].touched || submitted.status) ? 'is-invalid' : {'is-valid': f['confirm_password'].valid}" id="confirm_password" required>
				<div *ngIf="f['confirm_password'].invalid && (f['confirm_password'].dirty || f['confirm_password'].touched || submitted.status)" class="invalid-feedback">
					<div *ngIf="f['confirm_password'].errors?.['required']">
						Confirm password is required!
					</div>
					<div *ngIf="f['confirm_password'].errors?.['match']">
						Password not match!
					</div>
				</div>
			</div>
		</div>

		<div class="mb-3 row ">
			<div class="col-sm-12 text-center">
				<button type="submit" class="btn btn-cus" [disabled]="submitted.showLoader"><span class="button-loader" *ngIf="submitted.showLoader"></span>Save</button>
			</div>
		</div>
	</form>
</div>