<!-- ======= Terms of Use Section ======= -->
<section id="terms-of-use" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Terms of Use</h2>
    </div>
    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-12">
        <h4>Terms and Conditions</h4>
        <p>The inditechsoft.com website may contain links to third-party sites. The linked sites are not under the control of <strong>IndiTech Software Training and Solutions</strong> and the <strong>IndiTech Software Training and Solutions</strong> is not responsible for the contents of any linked site, any link contained in a linked site, any changes or updates to such linked sites, or any transmission from any linked site. <strong>IndiTech Software Training and Solutions</strong> is providing these links to third-party sites only as a convenience, and the inclusion of any link does not imply endorsement by <strong>IndiTech Software Training and Solutions</strong> of the site.</p>
        <h4>License and Site Access</h4>
        <p><strong>IndiTech Software Training and Solutions</strong> grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of <strong>IndiTech Software Training and Solutions.</strong> This license does not include any resale or commercial use of this site or its contents, any collection and use of any product listings, descriptions, or prices, any derivative use of this site or its contents, any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of <strong>IndiTech Software Training and Solutions.</strong></p>
        <p>You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of finalyearprojects.in so long as the link does not portray IndiTech Software Training and Solutions, its parent company, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any IndiTech Software Training and Solutions logo or other proprietary graphic or trademark as part of the link without express written permission.</p>
        <h5 class="text-end">{{this.companyName}}</h5>
      </div>
    </div>
  </div>
</section>
<!-- End Terms of Use Section -->