<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">

      <div class="col-lg-8">

        <article *ngIf="BlogDetail" class="blog-details">

          <div class="post-img">
            <img [src]="base+BlogDetail.img" alt="" class="img-fluid">
          </div>

          <h2 class="title">{{BlogDetail.title}}</h2>

          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">Admin</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">{{BlogDetail.created_at}}</time></a></li>
              <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li> -->
            </ul>
          </div><!-- End meta top -->

          <div class="content" [innerHTML]="BlogDetail.content"></div><!-- End post content -->

          <!-- <div class="meta-bottom">
            <i class="bi bi-folder"></i>
            <ul class="cats">
              <li><a href="#">Business</a></li>
            </ul>

            <i class="bi bi-tags"></i>
            <ul class="tags">
              <li><a href="#">Creative</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div> -->
          <!-- End meta bottom -->

        </article><!-- End blog post -->

        <div class="post-author d-flex align-items-center">
          <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
          <div>
            <h4>Admin</h4>
            <!-- <div class="social-links">
              <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
            </div> -->
            <p>
              Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
            </p>
          </div>
        </div><!-- End post author -->

      </div>

      <div class="col-lg-4">

        <div class="sidebar">

          <!-- <div class="sidebar-item search-form">
            <h3 class="sidebar-title">Search</h3>
            <form action="" class="mt-3">
              <input type="text">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>

          <div class="sidebar-item categories">
            <h3 class="sidebar-title">Categories</h3>
            <ul class="mt-3">
              <li><a href="#">General <span>(25)</span></a></li>
              <li><a href="#">Lifestyle <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(5)</span></a></li>
              <li><a href="#">Design <span>(22)</span></a></li>
              <li><a href="#">Creative <span>(8)</span></a></li>
              <li><a href="#">Educaion <span>(14)</span></a></li>
            </ul>
          </div> -->

          <div class="sidebar-item recent-posts">
            <h3 class="sidebar-title">Recent Posts</h3>

            <div class="mt-3">

              <div *ngFor="let blog of Blogs;" class="post-item mt-3">
                <img [src]="base+blog.img" alt="">
                <div>
                  <h4><a routerLink="/blog/{{blog.slug}}">{{blog.title}}</a></h4>
                  <time datetime="2020-01-01">{{blog.created_at}}</time>
                </div>
              </div>

            </div>

          </div>

          <!-- <div class="sidebar-item tags">
            <h3 class="sidebar-title">Tags</h3>
            <ul class="mt-3">
              <li><a href="#">App</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Mac</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Office</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div> -->

        </div>

      </div>
    </div>

  </div>
</section><!-- End Blog Details Section -->