<main id="main">
	<section id="portfolio-details" class="portfolio-details">
	  <div class="container" data-aos="fade-up">
      <p class='content-highlight'><strong>User Action Info: </strong> You can get the <strong>Internships</strong> related additional info by submitting the <strong>{{this.serviceFormInfo.title}}</strong>.</p>
	    <div class="position-relative h-100">
        <div class="row justify-content-between mt-3">
          <div class="col-lg-7 about">
            <div class="portfolio-description mt-3 content">
              <h2>Internships</h2>
              <p>Internships are simulated work experiences typically offered to students or recent graduates who are looking to gain practical skills and knowledge in a particular field or industry. Internships provide an opportunity to apply academic learning in a real-world setting and make connections with professionals in the field. Here are some key points about our Internship Programs:</p>
              <ul>
              	<li><i class="bi bi-check-circle-fill"> </i><strong>IndiTechSoft</strong> will provide a simulated work experience of a Software Development environment. The Internship will start a Software project with the Requirements Phase and finish with Software Delivery including Maintenance Phase.</li>
              	<li><i class="bi bi-check-circle-fill"> </i>Our internship program will typically cover the Project aspects like Requirements Definition, Estimation, Costing, Requirements Sign-off, Staffing, Project Management, Project Plan, review and control, High Level and Low-Level Designs, Development Models, Project Implementation, Software Testing, Software Delivery, Sign-off and Maintenance.</li>
              	<li><i class="bi bi-check-circle-fill"> </i>The highlight of this programme is that the Participants will get the exposure to full Software Development lifecycle phases.</li>
              	<li><i class="bi bi-check-circle-fill"> </i>The Internship Participants will be provided with relevant certificates on its successful completion.</li>
                <li><i class="bi bi-check-circle-fill"> </i>These internships programmes are available on online mode and on offline mode (for colleges).</li>
              </ul>
              <h5 class="text-end">{{this.bestWishes}}</h5>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <app-services-form [serviceFormInfo]="this.serviceFormInfo"></app-services-form>
            </div>
          </div>
        </div>
	    </div>
	  </div>
	</section><!-- End Section -->
</main><!-- End #main -->


